@use '../../global.scss' as *;

.outbound-dashboard {
    display: flex;
    flex-direction: column;
}

.outbound-layout {
    display: flex;
    justify-content: center;
}

.outbound-main-content {
    flex-grow: 1;
    width: 100%;
    padding: 0rem 1rem;
}

.outbound-main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .outbound-title {
        font-weight: 600;
        color: $titleColor;
        margin-bottom: 0.15rem;
    }

    .outbound-subtitle {
        color: $text2ndColor;
    }
}